<div class="profile-container text-center">

  <div class="profile-header-card">
    <% user_picture_url = @profile_picture_url || "http://placehold.it/50x50" %>
    <img class="profile-avatar" src=<%= user_picture_url %>>
    <br>
    <%= "#{@profile.first_name} #{@profile.last_name}" %>
    <br>

    <% if current_user == @profile %>
      <%= link_to edit_profile_path(@profile.id) do %>
            <i class="fa fa-pencil-square-o"></i> <%= t(".edit", default: "Edit Profile") %>
            <% end %>
    <% end %>
  </div>


  <div class="profile-body-card">
    <%= @profile.phone_number %>
    <br>
    <%= @profile.email %>
  </div>

  <div class="profile-body-card">
    <h4><strong>Description: </strong></h4>
    <br>
    <%= @profile.description %>
  </div>

  <div class="profile-body-card">
    <h4><strong>Completed Contracts: </strong></h4>
    <br>
    <p>Display Contracts marked as Complete here</p>
  </div>


</div>
