<div class="container">
  <div class="row">
    <h1 class="col-xs-10 col-xs-offset-1">
      Jobs
    </h1>
    <% @jobs.each do |job| %>
    <div class="card col-xs-10 col-xs-offset-1">
      <div class="job-title">
        <p>
          <%= link_to "Looking For: #{job.title.capitalize}", job_path(job) %>
        </p>
      </div>
      <div class="card-description">
        <p>
          <strong>
            Posted By:
          </strong>
          <%= "#{job.user.first_name} #{job.user.last_name}, (#{job.user.business_name})." %>
        </p>
        <p>
          <strong>
            Recommended Skills:
          </strong>
          <%= job.skills %>
        </p>
        <p>
          <strong>
            Skill Level:
          </strong>
          <%= job.level %>
        </p>
        <p>
          <strong>
            Pay Range:
          </strong>
          <%= job.pay_min %> to <%= job.pay_max %>
        </p>
        <p>
          <strong>
            Job Period:
          </strong>
          <%= job.starting_date %> until <%= job.ending_date %>
        </p>
        <p>
          <strong>
            Description:
          </strong>
          <%= job.description %>
        </p>
        <p>
          Posted on: <%= job.created_at %>
        </p>
      </div>
      <% user_picture_url = job.user.facebook_picture_url || "http://placehold.it/30x30" %>
      <img class="card-user" src=<%= user_picture_url %>>
    </div>
    <% end %>
  </div>
