<% if user_signed_in? %>
<% if current_user != @job.user && !applied?(current_user, @job) %>
<%= link_to "Apply for Job", new_job_job_contract_path(@job), class: "btn btn-primary"%>
<% end %>
<% if current_user == @job.user %>
<%= link_to 'Delete This Job', business_job_path(@job),
data: { confirm: 'Are you sure?' }, method: :delete %>
<% end %>
<% end %>
<h1><%= @job.title %></h1>
<h5>
  <strong>
    Posted By:
  </strong>
  <%= "#{@job.user.first_name} #{@job.user.last_name}" %>
  <% if @job.user.business_name %>
  , (<%= @job.user.business_name %>)
  <% end %>
</h5>
<h6><strong>Posted on: </strong><%= @job.created_at %></h6>
<h4><strong>Located at: </strong><%= @job.location %></h4>
<h4><strong>Wanted Skills: </strong><%= @job.skills %></h4>
<h4><strong>Industry:</strong><%= @job.industry %></h4>
<h4><strong>Skill level: </strong><%= @job.level %></h4>
<h4><strong>Hourly Pay: </strong><%= @job.user.payment_currency %><%= @job.payment %></h4>
<h4><strong>Job Period: </strong><%= @job.starting_date %> until <%= @job.ending_date %></h4>
<p><strong>Description: </strong><%= @job.description %></p>

<% display_contract = false %>
<% @job.job_contracts.all.each do |contract| %>
<% if contract.user == current_user %>
<% unless display_contract %>
<% display_contract = true %>
<h4>
  Current Contract:
</h4>
<% end %>
<strong>
  <%= contract.user.first_name %> <%= contract.user.last_name %>
</strong>
<p>
  Price Offer:
  <%= contract.job.user.payment_currency %><%= contract.price %> / <%= contract.payment_unit %>
</p>
<p>
  Status:
  <% if contract.status == nil || 0 %>
  Pending
  <% elsif contract.status == 1 %>
  Declined
  <% elsif contract.status == 2 %>
  Accepted
  <% elsif contract.status == 3 %>
  Completed
  <% end %>
</p>
<% elsif contract.job.user == current_user %>
<% unless display_contract %>
<% display_contract = true %>
<h4>
  Pending Contracts:
</h4>
<% end %>
Posted by:
<strong>
  <%= contract.user.first_name %> <%= contract.user.last_name %>
</strong>
<p>
  Price Offer:
  <%= contract.price %> / <%= contract.payment_unit %>
</p>
<div class="status">
  Status:
  <% if contract.status == nil || 0 %>
  Pending
  <% elsif contract.status == 1 %>
  Declined
  <% elsif contract.status == 2 %>
  Accepted
  <% elsif contract.status == 3 %>
  Completed
  <% end %>
</div>
<% end %>
<% end %>
