<h1>New Job</h1>
<%= simple_form_for [:business, @job] do |f| %>
<%= f.error_notification %>
<%= f.input :title, label: "Job: " %>
<%= f.input :description %>
<%= f.input :skills %>
<%= f.input :level %>
<%= f.input :industry %>
<%= f.input :location %>
<%= f.input :payment %>
<%= f.input :payment_unit, collection: %w(contract hr day week) %>
<%= f.input :starting_date %>
<%= f.input :ending_date %>
<%= f.button :submit %>
<% end %>
