<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Material design sign up form</title>
</head>

<body>

  <div id="signup-box">

    <div class="banner col-xs-8">

    </div>
    <div class="col-xs-4">
      <div class="general-input">

        <h1 class="text-center">Sign up</h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="left-signup">
          <%= f.input :first_name, required: true %>
          <%= f.input :last_name, required: true %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.button :submit, "Sign up" %>
        </div>
      </div>

      <div class="right-signup">
        <h1 class="text-center">Sign up with</h1>
        <%= render 'shared/facebook_login' %>


        <% end %>
      </div>


    </div>
    <div class="or">OR</div>
  </div>
</body>
</html>
