<h2>
  New Job Contract for
  <strong>
    <%= @job_contract.job.title %>
  </strong>
</h2>
<h4>
  Hiring by
  <strong>
    <%= @job_contract.job.user.first_name %> <%= @job_contract.job.user.last_name %>
  </strong>
  <% if @job_contract.job.user.facebook_picture_url %>
  <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
  <%= image_tag avatar_url, class: "avatar" %>
  <% end %>
  <% if @job_contract.job.user.business_name %>
  for
  <strong>
    <%= @job_contract.job.user.business_name %>
  </strong>
  <% end %>
</h4>
<h4>
  Current offered pay:
  <%= @job_contract.job.user.payment_currency %><%= @job_contract.job.payment %> / <%= @job_contract.payment_unit %>
</h4>

<%= simple_form_for [@job, @job_contract], html: { id: "job_contract_form" } do |f| %>
<%= f.input :negotiations, label: "Negotiate Price", input_html: { id: "negotiation_for_contract" } %>
<div class="hidden form-inline" id="show-on-accept">
  <%= f.input :price %>
  <%= f.input :payment_unit, collection: %w(contract hr day week) %>
</div>
<%= f.submit "Apply for Contract", class: "btn btn-primary" %>
<% end %>



